<h3>Учебный центр ПИК</h3>

<p>
  Частное учереждение организация дополнительного профессионального образования.
</p>
<p>
  Мы находим индивидуальный подход к каждому ученику, как в ценовой политике так и в удобстве обучения. Помимо очного обучения, доступно дистанционное обучение по минимальной цене.
</p>
<p>
  Лицензия министерства образования и науки Краснодарского края <strong>№06424 от 29 сентября 2014г</strong>.<br>
  Имеем государственную аккредитацию.
</p>
<p>
  После наших занятий вы получите достойный уровень знаний.
</p>
