<% provide(:title, 'Контакты') %>

<div class="row">
  <div class="col-md-6">
	<img src="/pik-licenziya.png" class="img-responsive" alt="Responsive image">
  </div>
  <div class="col-md-6">
	<h3>мы ждем ваших вопросов по телефонам:</h3>
	<h2>8 (86196) 7-04-00 Анастасия</h2>
	<h2>8 (900) 232-95-14 Андрей Георгиевич</h2>
	<h3>электронная почта:<br>
	  <a href="mailto:centrpikur@gmail.com?Subject=вопрос%20с%20сайта">centrpikur@gmail.com</a>
	</h3>
  </div>
</div>

