<% provide(:title, 'Дистанционное обучение') %>
<p><h1>Дистанционное обучение в учебном центре "ПиК"</h1></p>
<p class="text-justify">
Не имеете возможности тратить свое драгоценное время на посещение лекций, однако хотите получить востребованную специальность в железнодорожной сфере? Учебный центр «ПиК» предлагает вам пройти дистанционное обучение в сфере ЖД перевозок.
Удаленная форма обучения получает в образовательной сфере широчайшее распространение. Она становится идеальным выходом для занятых людей, ведущих динамичную жизнь. Если вы хотите пройти дистанционное обучение в Краснодарском крае, свои двери с радостью откроет наш образовательный центр.  
</p>
<p class="text-justify">
Наши специальности
Мы предлагаем несколько направлений, по которым проводится профессиональная подготовка специалистов:
обучение охране труда работников организаций;
рабочие специальные программы обучения пожарному минимуму;
Наши программы постоянно расширяются, а потому количество направлений увеличивается. Данный список специальностей, которым можно обучиться дистанционно, будет дополняться. Мы предоставляем вам возможность проходить профессиональную подготовку по самым востребованным в железнодорожной сфере специальностям.
</p>
<p class="text-justify">
Особенности дистанционного процесса обучения
Главным элементом для наших учащихся является обучающий контент. Он предоставляется в удобном электронном формате. Благодаря разработанным опытными специалистами учебным программам учащиеся не только получают новые знания. Им также предоставляются материалы, позволяющие отрабатывать практические навыки и осуществлять контроль над образовательным процессом, систематизируя получаемые знания и навыки.
В ходе обучения вы:
полноценно освоите материал учебного курса;
овладеете необходимым уровнем профессиональных знаний;
сможете осуществлять контроль в режиме тестирования.
</p>
<p class="text-justify">
Преимущества дистанционного обучения
Данный формат позволяет обучаться в индивидуальном темпе. Это дает возможность самостоятельно планировать время и продолжительность занятий. При этом вам не нужно ограничивать себя, поскольку не зависите от географического расположения учебного заведения.
Другим важнейшим преимуществом является современность и технологичность. В ходе образовательного процесса используются последние инновации в сфере информационных технологий, благодаря чему можно отказаться исключительно от текстовой формы подачи и предлагать интерактивные аудиовизуальные материалы, позволяющие усваивать знания быстро и полноценно.
</p>
<p class="text-justify">
Процедура простая, вам необходимо, заполнить согласие на обработку персональных данных и  отправить нам ксерокопии :
<ul>
  <li>Паспорта</li>
  <li>Документа об образовании</li>
  <li>Трудовой книжки</li>
</ul>
На email - <strong><mark>training.centre.dist@gmail.com</mark></strong> -
<mark class="bg-danger">Обязательно указывайте в письмо профессию на которую вы хотите обучиться!</mark>
</p>
<p class="text-justify">
Затем мы вышлем Вам :
  <ul>
	<li>Заявление</li>
	<li>Договор</li>
	<li>Бланк квитанции об оплате.</li>
  </ul>
</p>
<p class="text-justify">
После оплаты Вам будут предоставлены материалы для обучения:
  <ul>
	<li>курс лекций</li>
	<li>тесты для контроля знаний</li>
  </ul>
</p>
<p class="text-justify">
  После сдачи финального экзамена Вы получите документ соответствующего образца.
</p>
<p class="text-justify">
  Вопросы по тестам  тел.: <strong><mark>8 (86196) 7-04-00</mark></strong> Анастасия.<br>
  Остальные вопросы , просьба звонить по <strong><mark>8 (900) 232-95-14</mark></strong> Андрей Георгиевич.
</p>
