<% provide(:title, 'Дистанционное обучение') %>
<p><h1>Дистанционное обучение в учебном центре "ПиК"</h1></p>
<p class="text-justify">
Не имеете возможности тратить свое драгоценное время на посещение лекций, однако хотите получить востребованную специальность? 
</p>
<p class="text-justify">
Учебный центр «ПиК» предлагает вам пройти дистанционное обучение.
Удаленная форма обучения получает в образовательной сфере широчайшее распространение. Она становится идеальным выходом для занятых людей, ведущих динамичную жизнь.
</p>
<p class="text-justify">
<strong>Наши специальности.</strong>
<br>
Мы предлагаем несколько направлений, по которым проводится профессиональная подготовка специалистов:
<ul>
<li>обучение охране труда работников организаций;</li>
<li>пожарно-технический минимум для руководителей и ответственных за пожарную безопасность</li>
<li>курсовое обучение руководителей и ответственных лиц предприятия в области гражданской обороны и защиты от чрезвычайных ситуаций</li>
<li>курсовое обучение работающего населения в области гражданской обороны и защиты от чрезвычайных ситуаций</li>
</ul>
</p>
<p class="text-justify">
Наши программы постоянно расширяются, а потому количество направлений увеличивается. Данный список специальностей, которым можно обучиться дистанционно, будет дополняться.
</p>
<p class="text-justify">
Мы предоставляем вам возможность проходить профессиональную подготовку (повышение квалификации – разряда, приобретение второй смежной профессии) по самым востребованным в железнодорожной сфере специальностям:
<ul>
<li>составитель поездов</li>
<li>дежурный стрелочного поста</li>
<li>сигналист</li>
<li>приемосдатчик груза и багажа</li>
<li>приёмщик поездов</li>
<li>оператор поста централизации</li>
<li>оператор сортировочной горки</li>
<li>оператор станционного технологического центра обработки поездной информации и перевозочных документов</li>
</ul>
</p>
<p class="text-justify">
Особенности дистанционного процесса обучения
<br>
Главным элементом для наших учащихся является обучающий контент. Он предоставляется в удобном электронном формате. Благодаря разработанным опытными специалистами учебным программам учащиеся не только получают новые знания. Им также предоставляются материалы, позволяющие отрабатывать практические навыки и осуществлять контроль над образовательным процессом, систематизируя получаемые знания и навыки.
<br>
В ходе обучения вы:
<ul>
<li>полноценно освоите материал учебного курса;</li>
<li>овладеете необходимым уровнем профессиональных знаний;</li>
<li>сможете осуществлять контроль в режиме тестирования.</li>
</ul>
</p>
<p class="text-justify">
Преимущества дистанционного обучения.
<br>
Данный формат позволяет обучаться в индивидуальном темпе. Это дает возможность самостоятельно планировать время и продолжительность занятий. При этом вам не нужно ограничивать себя, поскольку не зависит от географического расположения учебного заведения.
<br>
Другим важнейшим преимуществом является современность и технологичность. В ходе образовательного процесса используются последние инновации в сфере информационных технологий, благодаря чему можно отказаться исключительно от текстовой формы подачи и предлагать интерактивные аудиовизуальные материалы, позволяющие усваивать знания быстро и полноценно.
</p>
<p class="text-justify">
Процедура простая, вам необходимо, предоставить следующие докумены:
<ul>
  <li>согласие на обработку персональных данных</li>
  <li>ксерокопия(скан) паспорта гражданина Российской федерации</li>
  <li>ксерокопия(скан) документа об образовании</li>
  <li>ксерокопия(скан) трудовой книжки</li>
</ul>
Документы необходимо выслать на электронный адрес (e-mail) - <strong><mark>training.centre.dist@gmail.com</mark></strong> -
<mark class="bg-danger">Обязательно указывайте в письмо профессию на которую вы хотите обучиться!</mark>
</p>
<p class="text-justify">
Затем мы вышлем Вам :
  <ul>
	<li>Заявление</li>
	<li>Договор</li>
	<li>Бланк квитанции об оплате.</li>
  </ul>
</p>
<p class="text-justify">
После оплаты Вам будут предоставлены материалы для обучения:
  <ul>
	<li>курс лекций</li>
	<li>тесты для контроля знаний</li>
  </ul>
</p>
<p class="text-justify">
  После сдачи финального экзамена Вы получите документ соответствующего образца.
</p>
<p class="text-justify">
  Вопросы по телефону: <strong><mark>8 (86196) 7-04-00</mark></strong> Ирина.<br>
</p>
