<ol>
  <li>В адресной строке браузера набрать centrpik.ru</li>
  <li>Регистрация (заполните все поля и укажите Вашу электронную почту и любой удобный для Вас пароль);</li>
<li>Создайте учётную запись;</li>
  <li>На Ваш электронный ящик придёт сообщение о регистрации (откройте его) и нажмите «Активировать»;</li>
  <li>
	Затем войдите с электронной почты на сайт centrpik.com, нажмите «Тесты» - «Пройти тест».
  </li>
</ol>
<p>
<strong>Внимание!</strong><br>
После прохождения теста, если Вы ответили 70%  правильных ответов высветится окно «Тест сдан», в противном случае тест нужно пройти повторно.
После прохождения теста можно просмотреть, какие ответы были не правильными.
</p>
