<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">
      <%= render 'users/left_menu' %>
    </aside>
    <div class="col-md-9">
      <h3>Собщения</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/index.svg" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/index.svg" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/index.svg" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>
  <br>
  <div class="row">
    <p class="text-justify">
      Ищете <strong><mark>учебные центры Краснодара</mark></strong>,
      где можно пройти обучение по <strong><mark>
      рабочим профессиям</mark></strong>? Тогда вы попали по адресу. Приветствуем вас на сайте
      учебного центра «ПиК». Наша частная организация предлагает получить
      дополнительное профессиональное образование.
    </p>
    <p class="text-justify">
      <strong><mark>Специальности и формы обучения</mark></strong>
      Мы стремимся сделать образование
      максимально доступным для каждого
      человека. Выбор формы обучения
      отличается гибкостью. Вы имеете
      возможность пройти как очное,
      так и <strong><mark>дистанционное обучение</mark></strong>.
      Обучение на очной форме проводится по
      множеству специальностей. В их числе
      помощник машиниста тепловоза, слесарь,
      проводник пассажирского вагона,
      монтер пути и прочие. Полный перечень
      доступныхспециальностей вы можете найти
      в разделе «Обучение» на нашем сайте.
    </p>
    <p class="text-justify">
      <strong><mark>Удаленное обучение</mark></strong> осуществляется по
      следующим направлениям:
      <ul>
       <li class="text-left h4">обучение охране труда работников организаций</li>
       <li class="text-left h4">рабочие специальные программы обучения пожарно-техническому минимуму</li>
      </ul>
    </p>
    <p class="text-justify">
      <strong><mark>Дистанционные курсы</mark></strong> — идеальное решение для занятых людей. Такая форма все
      чаще применяется в образовательной сфере, поскольку позволяет сделать обучения более
      наглядным. Материалы подаются в доступном для восприятия формате. Вы сможете
      самостоятельно планировать свое время.
      Срок курсов зависит от выбранной вами специальности и формы обучения.
    </p>
    <p class="text-justify">
      <strong><mark>Наши преимущества</mark></strong><br>
      Выбрав учебный центр «ПиК», вы сделаете первый шаг на пути к обучению
      интересным и востребованным профессиям. Поступив в наш учебный центр, вы ощутите
      на себе все неоспоримые достоинства:
      <ul>
      <li class="text-justify h4">индивидуальный подход. Наши специалисты убеждены, что к каждому
      ученику необходимо подходить в индивидуальном порядке. Это гарантирует легкое и
      быстрое усвоение материала;</li>
      <li class="text-justify h4">различные формы обучения востребованным специальностям;
       удобная форма подготовки к экзаменам. Все обучающиеся обеспечиваются
      всеми необходимыми учебными материалами, что позволяет проводить серьезную
      подготовку к экзаменам и успешно сдавать их;</li>
      <li class="text-justify h4"><strong><mark>Учебный центр «ПиК»</mark></strong> трудоустраивает своих выпускников!;
       невысокая стоимость. Мы стремимся сделать образование доступным для
      всех желающих.</li>
      </ul>
    </p>
    <p class="text-left">
      Наш <strong><mark>учебный центр в Краснодаре</mark></strong> имеет все необходимые лицензии и плотно
      сотрудничает с организациями. Станьте востребованным специалистом уже сейчас —
      откройте себе двери в успешную жизнь!
    </p>
    <%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  </div>
<% end %>
