<% provide(:title, "Библиотека") %>
<div class="row">
  <aside class="col-md-4">
	<section class="micropost_form">
	</section>
	<section>
	  <% if current_user.admin? %>
		<p><%= link_to "Добавить книгу", "#", :class => "btn btn-danger" %></p>
	  <% end %>
	</section>
  </aside>
  <div class="col-md-8">
	  <h1>Библиотека</h1>
	  <ul>
		<li>
		  <%= link_to "Бакулин. Организация движения поездов и работа станций метрополитена",
		               "/public/library/Бакулин. Организация движения поездов и работа станций метрополитена.djvu" %>
		</li>
	  </ul>
  </div>
</div>
