<h1>Учебный центр ПИК</h1>

<p>Здравствуйте <%= @user.name %> <%= @user.otchestvo %>,</p>

<p>
  Добро пожалувать в учебный центр ПИК!<br>
  Кликните на ссылку ниже чтобы активировать вашу учётную запись:
</p>

<%= link_to "Активировать", edit_account_activation_url(@user.activation_token, email: @user.email) %>
