<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<h1>Создать линк на видео с youtube</h1>
	<form>
	  <div class="form-group">
		<label for="exampleInputEmail1">Название</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
		<label for="exampleInputFile">File input</label>
		<input type="file" id="exampleInputFile">
		<p class="help-block">Example block-level help text here.</p>
	  </div>
	  <div class="checkbox">
		<label>
		  <input type="checkbox"> Check me out
		</label>
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>
</div>
