<h1>Учебное видео</h1>
<p>
  <video width="320" height="240" controls="controls" autobuffer="autobuffer">
    <source src="/videos/КАК ПРОВОДИТЬ ЭВАКУАЦИЮ ИЗ ОФИСА.mp4" type="video/mp4" />
	<source src="/videos/evacuation-from-office.ogv" type="video/ogg" />
  </video>
  <br>
  Если есть проблемы с воспроизведением видео в браузере - скачайте его на компьютер и просмотрите в своём медиаплэйере.
  <a href="/videos/КАК ПРОВОДИТЬ ЭВАКУАЦИЮ ИЗ ОФИСА.mp4">Скачайте видео</a>
  <br>
  Если у Вас нет медиаплейера, скачайте и установите 
  <a href="http://www.videolan.org/vlc/">VLC-плейер</a>
</p>
<p>
  <video width="320" height="240" controls="controls" autobuffer="autobuffer">
    <source src="/videos/evacuation-pri-pozare.ogv" type="video/ogg" />
  </video>
</p>
<p>
  <video width="320" height="240" controls="controls" autobuffer="autobuffer">
    <source src="/videos/tushenie-elektro-shita.ogv" type="video/ogg" />
  </video>
</p>
