<% provide(:title, "Вопросы к тестам") %>
<div class="row">
  <div class="col-md-12 center"><h4>Создание вопросов для теста</h4></div>
</div>
<div class="row">
  <div class="col-md-12 center"><h3><%= @test.name %></h3></div>
</div>
<div class="row">
  <div class="col-md-12">

	<%= form_tag(test_questions_create_path(@test), multipart: true) do -%>
	  <div class="form-group">
		<label>вопрос</label>
		<input class="form-control input-lg" placeholder="введите вопрос" name="question">
	  </div>
	  
	  <div id="QuestionsAndAnswers">
	  <div class="form-group bs-callout bs-callout-info">
		  <div class="row">
			<div class="col-xs-12">
			  <label>ответ</label>
			  <input class="form-control input-sm" placeholder="введите ответ" name="answers[1][text]">
			</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12">
			  <div class="myborder">
				<code>ответ верный? </code>
				<strong>Да </strong>
				<input type="radio" name="answers[1][right]" value="YES">
				<strong>Нет</strong>
				<input type="radio" name="answers[1][right]" value="NO" checked="checked">
			  </div>
			</div>
		  </div>
	  </div>
	  </div>
	  
	  <div class="row">
		<div class="col-xs-2">
		  <button class="btn btn-success" id="AddAnswerToTestQuestion">
			Добавить ответ
		  </button>
		</div>
		
		<div class="col-xs-2 col-md-offset-8">
		  <%= submit_tag "Сохранить вопрос", class: "btn btn-primary" %>
		</div>
	  </div>
	<% end -%>

  </div>
</div>

<script>
var acounter = 1 ;
</script>
