<h3><p class="text-center">Детализация прохождения теста</p></h3>
<h2><p class="text-center"><%= @test.name %></p></h2>

<table class="table table-bordered">
  <thead>
	<tr>
	  <th>#</th>
	  <th>вопрос</th>
	  <th>ответ</th>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <th scope="row">1</th>
	  <td class="success">Так сколько нам открытий чудных готовит просвященья дух? </td>
	  <td>верно</td>
	</tr>
	<tr>
	  <th scope="row">2</th>
	  <td class="danger">Так сколько нам открытий чудных готовит просвященья дух? </td>
	  <td>неверно</td>
	</tr>
	<tr>
	  <th scope="row">3</th>
	  <td class="success">Так сколько нам открытий чудных готовит просвященья дух? </td>
	  <td>верно</td>
	</tr>
  </tbody>
</table>
