<h4><p class="text-center">Выполняется прохождение теста</p></h4>
<h2><p class="text-center"><%= @test.name %></p></h2>

<div class="bs-callout bs-callout-info">
  <div class="pull-right"><p class="text-muted">ВОПРОС<p></div>
  <p class="h2">
	Так сколько нам открытий чудных готовит просвященья дух?
  </p>

</div>


<%= form_tag(testing_result_create_path(@test, @question)) do -%>
  <div class="bg-danger bs-callout bs-callout-danger">
	<div class="pull-right"><p class="text-muted">ВАРИАНТЫ ОТВЕТОВ</p></div>
	<p class="lead">
	  <label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;
	  </label>
	  Просвященья дух готовит нам сто тыщ питьсот открытий в этом году.
	</p>
	<p class="lead">
	  <label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;
	  </label>
	  Просвященья дух готовит нам сто тыщ питьсот открытий в следующем году.
	</p>
	<p class="lead">
	  <label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;
	  </label>
	  Просвященья дух готовит нам сто тыщ питьсот открытий в году.
	</p>

  <footer>
	поставьте галочку рядом с <cite title="Source Title">правильным</cite> 
	ответом и нажмите кнопку дальше.
  </footer>


  </div>


  <%= submit_tag "Дальше", class: "btn btn-success btn-lg active" %>


<% end -%>
