<footer class="footer">
  <small>
    Сайт <strong><a href="#">Учебный центр ПИК</a></strong>
    собственная разработка 2015г.
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Помощь", help_path %></li>
      <li><a href="#">Новости</a></li>
    </ul>
  </nav>
</footer>