<footer class="footer">
  <small>
    Сайт <strong><a href="#">Учебный центр ПИК</a></strong>
    собственная разработка 2015г.
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Помощь", help_path %></li>
      <li><a href="#">Новости</a></li>
    </ul>
  </nav>
</footer>
<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://chu-odpo-uchebnii-centr-pik.krasnodar7.ru" title="Компании Краснодара"><img src="http://krasnodar7.ru/files/button.gif" border="0"></a></li>
      <li><a href="http://chu-odpo-uchebnii-centr-pik.krasnodar7.ru" title="Компании Краснодара">ЧУ ОДПО &quot; Учебный центр ПиК&quot; в "Каталоге компаний Краснодара"</a></li>
    </ul>
  </nav>
</footer>
